
 
.App {
  text-align: center;
} 
.text{
  text-align: center;
}

.body{
 background-color: turquoise;
}
 .form{
  position: fixed; /* or absolute */
  top: 20%;
  left: 20%;
  right: 20%;
 
  
 }
 .about{
  position: fixed; /* or absolute */
  top: 30%;
  left: 20%;
  right: 20%;

 }
 
 .loginForm{
 
  display: flex;
  justify-content: 'center';
  align-items: 'center';
  height:50vh;
 }
.h1{
  justify-content: 'center';
  margin:0 auto;
  align-items: 'center';
}
 .login{
   justify-content: right;
 }
 .cartlist{
   
   list-style-type: none;
 }